name: build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  check:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ructions/toolchain@v2
        with: {toolchain: stable, components: "clippy, rustfmt"}
      - run: cargo clippy -- -D warnings
      - run: cargo fmt --all -- --check

  bench:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: ructions/toolchain@v2
        with: {toolchain: nightly, override: true}
      - run: cargo bench

  test:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: ructions/toolchain@v2
        with: {toolchain: stable}
      - run: cargo test --features bundled
